/* styles.css */
.app-container {
    display: flex;
    overflow: hidden;
    height: calc(100vh - 135px);
}

.menu-container {
    width: 239px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #e8e8e8;
    text-align: center;
}

/* 右侧内容区域样式 */
.content-container {
    flex: 1;
    height: 100vh;
    overflow-y: auto;
    padding: 16px;
    background-color: #fff;
}

.menu-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #E8EBF2;
}

.menu-item.active {
    background-color: #F7F7FC;
    font-weight: bold;
}
.content-container{
    overflow: auto;
    flex: 1;
}
.file-container{
    display: flex;
}
.file-content{
    flex: 1;
}
.content {
    padding: 10px;
    height: 100vh;
}

/* 在document.css中添加 */
.docx-content {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.docx-content p {
    margin-bottom: 1em;
}

.docx-content table {
    border-collapse: collapse;
    width: 100%;
    margin: 1em 0;
}

.docx-content table, .docx-content th, .docx-content td {
    border: 1px solid #ddd;
}

.docx-content th, .docx-content td {
    padding: 8px;
}
